$brilliant-white: #fff;
$white: #f9f9f9;
$light-grey: #ccc;
$grey: #525252;
$dark-grey: #2e2e2e;
$link-color: #8c0808;
$header-color: #0b0347;

$translucent-grey: rgba(0, 0, 0, 0.15);
$opaque-grey: #ddd;
$opaque-white: rgba(249, 249, 249, .5);

$sans-serif: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: "Anonymous Pro", monospace;
