<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body {% if page.namespace %}class="{{ page.namespace }}"{% endif %}>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrap">
      {% include header.html %}
      <div id="site-content">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
