---
layout: default
---
<div class="section-heading">
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>
</div>

{% if page.introduction %}
  <div class="container">
    <div class="project-intro intro">
      {{ page.introduction | markdownify }}
    </div>
  </div>
{% endif %}

{% if page.feature_image %}
  <img src="{{ page.feature_image }}" alt="{{ page.title }}" class="project-image"/>
{% endif %}

{% for section in page.sections %}
  <div class="section-heading">
      <div class="container">
          <h2>{{ section.title }}</h2>
      </div>
  </div>
  <div class="container">
    <div class="project-section">
      {{ section.content | markdownify }}
    </div>
  </div>
{% endfor %}
